<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delta.workshop.mapper.UserMapper">
	<resultMap id="userMap" type="com.delta.workshop.model.User">
		<id property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="password" column="password" />
		<result property="roleId" column="role_id" />
		<result property="groupId" column="group_id" />
		<result property="workshopId" column="workshop_id" />
		<result property="industryId" column="industry_id" />
		<result property="createTime" column="create_time" />
		<result property="editTime" column="edit_time" />
	</resultMap>
	
	<insert id="add" parameterType="com.delta.workshop.model.User">
		INSERT INTO user (user_id,name,password,role_id,workshop_id,group_id) VALUES (#{userId},#{name,jdbcType=VARCHAR},#{password},#{roleId},#{workshopId},#{groupId})
	</insert>
	
	<update id="edit" parameterType="com.delta.workshop.model.User">
		update user set name = #{name},password = #{password},role_id = #{roleId},group_id = #{groupId},workshop_id =#{workshopId},edit_Time = #{editTime} where user_id =#{userId}
	</update>
	
	<update id="editGroupAccount" parameterType="com.delta.workshop.model.User">
		update user set user_id =#{userId},name = #{name}  where group_id = #{groupId} and workshop_id =#{workshopId}
	</update>
	
	
	<delete id="deleteGroupAccount">
		DELETE FROM user WHERE group_id = #{groupId}
	</delete>
	<delete id="delete">
		DELETE FROM user WHERE user_id = #{userId}
	</delete>
	
	<select id="getByUsernameAndPassword" resultMap="userMap">
			select t.user_id, t.`name`, t.`password`, t.role_id, t.group_id, t.workshop_id,t1.industry_id FROM user t LEFT JOIN workshop t1  on t.workshop_id = t1.id WHERE user_id = #{userId} 
	</select>
	
	<select id="getRolesByUserId">
		select role_name FROM role WHERE role_id in (select role_id from user where user_id = #{userId})
	</select>
	
</mapper>